@model GuidingLightBookGallery.Models.Book;

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Book Details</title>
	</head>

	<body>

		<div>

			<h1>
				Book Details
			</h1>

			<h2>
				@Model.Title
			</h2>

			<ul>
				@foreach (var author in Model.Authors)
				{
					<li>
						@author.FirstName @author.LastName :: @author.Role
					</li>
				}
			</ul>

			<h3>
				@Html.Raw(Model.DescriptionHTML)
			</h3>

			<h3>
				@Model.PublishingHouse :: @Model.PublicationYear
			</h3>

		</div>

	</body>

</htm>