@model GuidingLightBookGallery.Models.Book[];

@{
	ViewBag.Title = "Book Collection";
}

<h1 class="text-center mt-4">Books at Guiding Light Islamic Center</h1>


<div class="container">

	@foreach (var book in Model)
	{
		<div class="row mt-5 mb-5">
			<div class="col">
				<h3>@Html.ActionLink(book.Title, "Details", new { id = book.Id })</h3>
				@foreach (var author in book.Authors)
				{
					<h5 class="ml-5">@author.LastName, @author.Role</h5>
				}
				<h5 class="font-weight-light">@Html.Raw(book.DescriptionHTML)</h5>
				<h6 class="font-weight-normal">@book.PublishingHouse :: @book.PublicationYear</h6>
				
			</div>
		</div>
	}

</div>